<div class="container">

<p id="notice"><%= notice %></p>

<h1 class="text-light">Analytics</h1>

    <div class="row justify-content-md-center">

      <div class="card col-md-3 mt-2 border border-dark rounded" style="width: 16rem;">
        <div class="card-body">
          <h1 class="card-title text-center"><%= @user_count %></h1>
        </div>
        <h5 class="card-text text-center">User Count</h5>
      </div>

      <div class="card col-md-3 mt-2 border border-dark rounded" style="width: 16rem;">
        <div class="card-body">
          <h1 class="card-title text-center"><%= @recipe_count %></h1>
        </div>
        <h5 class="card-text text-center">Recipe Count</h5>
      </div>

      <div class="card col-md-3 mt-2 border border-dark rounded" style="width: 16rem;">
        <div class="card-body">
          <h1 class="card-title text-center"><%= @ingredient_count %></h1>
        </div>
        <h5 class="card-text text-center">Ingredient Count</h5>
      </div>

      <div class="card col-md-3 mt-2 border border-dark rounded" style="width: 16rem;">
      <img class="card-img-top border border-dark rounded" src="" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">Favorite Recipe </h5>
        </div>
      </div>

      <div class="card col-md-3 mt-2 border border-dark rounded" style="width: 16rem;">
      <img class="card-img-top border border-dark rounded" src="" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">Most Used Ingredient </h5>
        </div>
      </div>

      <div class="card col-md-3 mt-2 border border-dark rounded" style="width: 16rem;">
        <div class="card-body">
          <h1 class="card-title text-center">User goes here</h1>
        </div>
        <h5 class="card-text text-center">Most Active User</h5>
      </div>

    </div>
<br>
</div>
