<div class="container" id="new-page-container">
<h1 class="text-light col" id="new-recipe-title">New Recipe</h1>


<%= render 'form', recipe: @recipe %>
<br>
<%= link_to 'Back', recipes_path, class: "btn btn-warning col", id:"back-button"%>
</div>
