<div class="container">

  <h1>Edit Ingredient</h1>

  <%= render 'form', ingredient: @ingredient %>

  <div class="text-light">

    <%= link_to 'Show', @ingredient , class: "text-light"%>
    |
    <%= link_to 'Back', ingredients_path , class: "text-light"%>
  </div>
</div>
